.dropdown_container {
  width: 200px;
}

.filter_container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--clr-white);
  cursor: pointer;
  user-select: none;
}

.filter_container img {
  width: 1.8rem;
}

.list_container {
  margin-top: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

.list_container li {
  list-style: none;
  padding: 0.5rem;
  background-color: var(--clr-white);
  cursor: pointer;
}

.list_container li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--clr-white);
}
